.header__subtitle {
  width: 388px;
  bottom: 30px;
  margin-left: 64px;
  line-height: 25px;
  font-size: 18px;
  position: absolute;
  font-weight: normal;
  display: inline;
  z-index: 2;
  /* o z-index eu ja tinha mudado na revisao anterior mas nao fez o upload*/
}